
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/Layout.cshtml";


   // var Departments = (List<QMS.Data.Department>)(ViewBag.Departments);

   // var Employee = (QMS.Data.Employee)(ViewBag.Employee);



}

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.theme.css" rel="stylesheet" />
    <title>Test</title>

    <style>
        .ui-datepicker {
            background: #5c7682;
            border: 1px solid blue;
            color: black
        }
    </style>
</head>

<main class="bg-white-500 flex-1 p-3 overflow-hidden">
    <div class="flex flex-col">
        <!--Grid Form-->
        <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2 ">
            <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-2/3 ml-24 ">
                <div class="bg-gray-400 px-2 py-3 border-solid border-gray-800 border-b text-2xl">
                    Add Complaint 
                </div>

                <div class="p-3">
                    <form name="addForm" id="addForm" class="w-full" method="post" action="@Url.Content("~/Complaint/Add")">

                        <input type="hidden" id="isValid" name="isValid" value="true" />
                        <input type="hidden" id="IsClosed" name="IsClosed" value="false" />


                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ComplaintNature">
                                    Nature of Complaint
                                </label>

                                <input class="form-check-input" type="radio" name="ComplaintNature" id="ComplaintNatureQMS" value="QMS" checked>
                                <label class="form-check-label mr-6" for="ComplaintNatureQMS">
                                    QMS
                                </label>

                                <input class="form-check-input" type="radio" name="ComplaintNature" id="ComplaintNatureOHS" value="OHS">
                                <label class="form-check-label mr-6" for="ComplaintNatureOHS">
                                    OHS
                                </label>

                                <input class="form-check-input" type="radio" name="ComplaintNature" id="ComplaintNatureEMS" value="EMS">
                                <label class="form-check-label" for="ComplaintNatureEMS">
                                    EMS
                                </label>

                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ComplaintType">
                                    Complaint Type
                                </label>

                                <input class="form-check-input complaintType" type="radio" name="ComplaintType" id="ComplaintTypeInternal" value="Internal" checked>
                                <label class="form-check-label mr-6" for="ComplaintTypeInternal">
                                    Internal
                                </label>

                                <input class="form-check-input complaintType" type="radio" name="ComplaintType" id="ComplaintTypeExternal" value="External" >
                                <label class="form-check-label mr-6" for="ComplaintTypeExternal">
                                    External
                                </label>


                            </div>
                        </div>

                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="Issuer_Name">
                                    Complaint Issuer Name
                                </label>
                                <input disabled class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="Issuer_Name" name="Issuer_Name" type="text" value="@ViewBag.Employee.Emp_Name">
                                <input type="hidden" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="Issuer_Name" name="Issuer_Name" value="@ViewBag.Employee.Emp_Name">

                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="IssuerDept_Id">
                                    Complaint Issuer Department
                                </label>
                                <input disabled class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="IssuerDept_Id" name="IssuerDept_Id" type="text" value="@ViewBag.EmployeeDepartment">
                                <input class="hide appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="IssuerDepartment" name="IssuerDept_Id" value="@ViewBag.Employee.Department_Id">
                            </div>
                        </div>






                        <div  class="flex flex-wrap -mx-3 mb-6">
                            <div id="Reponsible_DeptDiv" class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ResponsibleDept_Id">
                                    Responsible Department
                                </label>
                                <select class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600"
                                        id="ResponsibleDept_Id" name="ResponsibleDept_Id">
                                    <option value="0">Select Department</option>
                                    @foreach (var department in ViewBag.Departments)
                                    {
                                        <option value="@department.Id">@department.Dept_Name</option>

                                    }
                                </select>

                            </div>

                            <div id="Customer_NameDiv" class="hide w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="CustomerName">
                                    Customer Name
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="CustomerName" name="CustomerName" type="text" placeholder="" autocomplete="off">
                            </div>

                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ComplaintMainType_Id">
                                    Complaint Main Type
                                </label>
                                <select class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600"
                                        id="ComplaintMainType_Id" name="ComplaintMainType_Id">
                                    <option value="">Select Complaint Main Type</option>


                                </select>

                                <input type="hidden" id="ComplaintMainType" name="ComplaintMainType" value="" />

                            </div>
                        </div>





                        <div class="flex flex-wrap -mx-3 mb-6">

                            <div id="subType" class="hide w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ComplaintSubType_Id">
                                    Complaint Sub Type
                                </label>
                                <select class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600"
                                        id="ComplaintSubType_Id" name="ComplaintSubType_Id">
                                    <option>Select Complaint Sub Type</option>

                                </select>
                                <input type="hidden" id="ComplaintSubType" name="ComplaintSubType" value="" />
                            </div>

                            <div id="faultType" class="hide w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ComplaintFaultIds">
                                    Faults
                                </label>
                                <select class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600"
                                        id="ComplaintFaultIds" name="ComplaintFaultIds" multiple>
                                    <option>Select Faults</option>

                                </select>

                            </div>


                        </div>

                        <div class="flex flex-wrap -mx-3 mb-6">


                            <div class="w-full md:w-2/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ProblemDescription">
                                    Problem Description
                                </label>
                                @*<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
        id="ProblemDescription" name="ProblemDescription" type="text" placeholder="Enter Problem Description" autocomplete="off">*@
                                <textarea rows="3" class="form-control" id="ProblemDescription" name="ProblemDescription"></textarea>
                                
                            </div>

                            <div class="w-full md:w-2/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ProblemArea">
                                    Problem Area
                                </label>
                                @*<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="ProblemArea" name="ProblemArea" type="text" placeholder="Enter Problem Area" autocomplete="off">*@

                                <textarea rows="3" class="form-control" id="ProblemArea" name="ProblemArea"></textarea>
                            </div>

                        </div>


                        <div class="flex flex-wrap -mx-3 mb-6">


                            <div class="w-full md:w-2/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ProblemReason">
                                    Problem Reason
                                </label>
                                @*<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="ProblemReason" name="ProblemReason" type="text" placeholder="Enter Problem Reason" autocomplete="off">*@

                                <textarea rows="3" class="form-control" id="ProblemReason" name="ProblemReason"></textarea>
                            </div>


                        </div>


                        <div class="flex flex-wrap -mx-3 mb-6">

                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ResponsiblePersonName">
                                    Responsible Person Name
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="ResponsiblePersonName" name="ResponsiblePersonName" type="text" placeholder="" autocomplete="off">
                            </div>

                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="ProblemDetectedOn">
                                    Problem Detected On
                                </label>
                                <input class="dateFormate appearance-none  block w-full bg-white text-gray-700 border border-red-500 rounded py-2 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="ProblemDetectedOn" name="ProblemDetectedOn" type="text" autocomplete="off">
                            </div>



                        </div>


                        <div class="flex flex-wrap -mx-3 mb-6">


                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="RiskAssessment">
                                    Risk Assessment
                                </label>
                                <select class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600"
                                        id="RiskAssessment" name="RiskAssessment">
                                    <option value="0" selected>0</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>

                                </select>
                            </div>

                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                       for="CARCAPA">
                                    CAR/CAPA
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"
                                       id="CARCAPA" name="CARCAPA" type="text" placeholder="" autocomplete="off" value="CAR">
                            </div>

                        </div>






                        <div class="md:flex md:items-right">
                            <div class="md:w-2/3">
                                <button type="button" id="save" onclick="validateSubmit()" class="test shadow bg-green-500 hover:bg-green-800 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
                                    Save
                                </button>
                                <a class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded text-decoration-none" href="@Url.Content("~/Complaint/List")">
                                    Cancel
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--/Grid Form-->
    </div>
</main>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.dateFormate').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true
        });
    });

  

        $('#ResponsibleDept_Id').change(function () {
        //alert($(this).val());
            $('#subType').addClass('hide');
            $('#faultType').addClass('hide');
            $('#ComplaintSubType_Id').addClass('hide').html("");
            $('#ComplaintFaultIds').addClass('hide').html("");
         var DepartmentId = $(this).val();
        var Url = '@Url.Content("~/ComplaintMainType/ComplaintMainTypeListByDepartment/")' + DepartmentId;
        //alert(Url);
        $.ajax({
            url: Url,
            type: 'GET',
            success: function (response) {
                //alert(response);
                $('#ComplaintMainType_Id').html(response);
            },
            error: function () {
                //alert('Error');
            }

        });

    });

    $('#ComplaintMainType_Id').change(function () {
        //alert($(this).val());
        var ComplaintMainTypeId = $(this).val();
        var ComplaintMainType = $("#ComplaintMainType_Id option:selected").text();
        $('#ComplaintMainType').val(ComplaintMainType);
        
        if (ComplaintMainTypeId=="") {
            
            $('#subType').addClass('hide');
            $('#faultType').addClass('hide');
            $('#ComplaintSubType_Id').val("");
            $('#ComplaintFaultIds').val("");
            $('#ComplaintSubType').val("");
            $('#ComplaintMainType').val("");
        }
        
        var Url = '@Url.Content("~/ComplaintSubType/ComplaintSubTypeListByMainTypeId/")' + ComplaintMainTypeId;
        //alert(Url);
        $.ajax({
            url: Url,
            type: 'GET',
            success: function (response) {
               
                
                $('#ComplaintSubType_Id').html(response);
                var result = response;
                if ($(result).filter('#optionVal').val() != '0') {
                    $('#subType').removeClass('hide');
                    $('#ComplaintSubType_Id').removeClass('hide');
                }
                else {
                    $('#subType').addClass('hide');
                    $('#faultType').addClass('hide');
                    $('#ComplaintSubType_Id').val("");
                    $('#ComplaintSubType').val("");
                    $('#ComplaintFaultIds').val("");
                }
                    
                
            },
            error: function () {
                //alert('Error');
            }

        });

    });

     $('#ComplaintSubType_Id').change(function () {
        //alert($(this).val());
         var ComplaintSubTypeId = $(this).val();
         var ComplaintSubType = $("#ComplaintSubType_Id option:selected").text();
         $('#ComplaintSubType').val(ComplaintSubType);

         if (ComplaintSubTypeId == "") {
             
             $('#faultType').addClass('hide');             
             $('#ComplaintSubType').val("");
             $('#ComplaintFaultIds').val("");
             
         }

        var Url = '@Url.Content("~/FaultType/FaultTypeListBySubTypeId/")' + ComplaintSubTypeId;
        //alert(Url);
        $.ajax({
            url: Url,
            type: 'GET',
            success: function (response) {
                //alert(response);
                $('#ComplaintFaultIds').html(response);
                var result = response;
                if ($(result).filter('#optionVal').val() != '0') {
                    $('#faultType').removeClass('hide');
                    $('#ComplaintFaultIds').removeClass('hide');
                }
                else {
                    $('#faultType').addClass('hide');
                    $('#ComplaintFaultIds').val("");
                }

            },
            error: function () {
                //alert('Error');
            }

        });

    });

    function validateSubmit() {
     

        
       
        if ($('#ComplaintMainType_Id').val() == "") {

            alert("Please enter complaint main type");


        }
        else if ($('#subType').hasClass('hide') == false && $('#ComplaintSubType_Id').val() == "") {
            
                alert('Please enter complaint Sub type');
            
        }
        else if ($('#faultType').hasClass('hide') == false && $('#ComplaintFaultIds').val() == "") {
            
            alert('Please enter fault type');
        }

        else {
           
            $('#addForm').submit();
        }
    }

    $('#RiskAssessment').change(function () {
        var riskAssessment = $(this).val();
        if (riskAssessment > 10) {
            $('#CARCAPA').val("CAPA");
        }
        else {
            $('#CARCAPA').val("CAR");
        }
    })

    $('.complaintType').change(function () {
        
        var typeVal = $(this).val();
        if (typeVal == 'External') {


            var Url = '@Url.Content("~/Department/GetDepartmentsByComplaintType/")' + typeVal;
            //alert(Url);
            $.ajax({
                url: Url,
                type: 'GET',
                success: function (response) {
                    $('#IssuerDept_Id').addClass('hide');
                    
                    $('#IssuerDepartment').replaceWith(response);
                    $('#IssuerDepartment').removeClass('hide');
               

                },
                error: function () {
                    //alert('Error');
                }

            });

            $('#Reponsible_DeptDiv').addClass('hide');
            $('#subType').addClass('hide');
            $('#faultType').addClass('hide');
            $('#ComplaintSubType_Id').addClass('hide').html("");
            $('#ComplaintFaultIds').addClass('hide').html("");
            $('#Customer_NameDiv').removeClass('hide');
            $('#ResponsibleDept_Id').val('17');

            var Url = '@Url.Content("~/ComplaintMainType/ComplaintMainTypeListByDepartment/17")';
        //alert(Url);
        $.ajax({
            url: Url,
            type: 'GET',
            success: function (response) {
                //alert(response);
                $('#ComplaintMainType_Id').html(response);
            },
            error: function () {
                //alert('Error');
            }

        });

        }
        else {
            $('#IssuerDepartment').replaceWith('<input  class="hide appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white-500"id="IssuerDepartment" name="IssuerDept_Id" value="@ViewBag.Employee.Department_Id">');
            $('#IssuerDept_Id').removeClass('hide');  
            $('#Reponsible_DeptDiv').removeClass('hide');
            $('#Customer_NameDiv').addClass('hide');
            $('#ResponsibleDept_Id').val('0');
            $('#ComplaintMainType_Id').html('<select class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600" id="ComplaintMainType_Id" name="ComplaintMainType_Id"><option value="">Select Complaint Main Type</option></select>')
            $('#CustomerName').val("");
           

        }
    })

    

</script>
